@import "tailwindcss";

/* Tipografia per articoli */
.prose img {
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article-style h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .article-style h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }
  
  .article-style h3 {
    font-size: 1.rem;
    font-weight: 600;
    margin-top: 1.1rem;
    margin-bottom: 0.75rem;
  }

  .article-style p {
    margin-bottom: 1rem;
    line-height: 1.8;
    color: #333;
  }
  
  .article-style a {
    color: #2563eb;
    text-decoration: underline;
  }
  
  .article-style ul {
    padding-left: 1.2rem;
    list-style: disc;
  }

  article img {
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    display: block;
    max-width: 100%;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 2rem auto;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
    
  